.pagination_block li:last-child [href="javascript:void(0);"],
.pagination_block li:first-child [href="javascript:void(0);"]{
    display: none;
}
input[type='checkbox'] {
    accent-color: #0B3A8D;
}
.consent_error{
    display: block;
    margin-top: 6px;
}
.tr_group_link_all_table{
    text-align: center;
    cursor: pointer;
}
.table_next_full_link {
    display: block;
    padding: 5px;
}
@media screen and (min-width: 1000px) {
    .mob_card_table_tr {
        display: none !important;
    }
}
