.header_wrap_title_search {
	position: relative;
}
div.title-search-result {
	display:block;
	z-index:205;
	top: 100% !important;
	left: 0 !important;
	width: 100% !important;
}
div.title-search-result .wrap_title-search-result {
	border:1px solid;
	overflow:hidden;
	margin-top: 4px;	
}

table.title-search-result {
	border-collapse: collapse;
	border:none;
	width:100%;
}

table.title-search-result th {
	display: none;
	border-radius: 0 !important;
	background-color:#F7F7F7;
	border-right:1px solid #e8e8e8;
	color:#949494;
	font-weight:normal;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:14px;
 	padding-right:12px;
	text-align:right;
	vertical-align:top;
	white-space:nowrap;
	width:1%;
}

table.title-search-result td {
	background-color:white;
	border: none;
	color:black;
	font-weight:normal;
	padding: 0;
	/*padding: 10px 15px;*/
	text-align:left;
	/*white-space:nowrap;*/
}
table.title-search-result td:first-child,
table.title-search-result td:last-child {
	padding: 0;
}
table.title-search-result td .title-search-item__title {
	background-color:#F7F7F7;
	text-transform: uppercase;
	display: flex;
	align-items: center;
	font-size: 12px;
	line-height: 14px;
	padding: 13px 20px;
	min-height: 40px;
}
table.title-search-result td.title-search-item .title-search-item__td {
	display: block;
	line-height: 20px;
	min-height: 36px;
	padding: 8px 20px;
}

table.title-search-result td.title-search-item {
	/*padding-left:8px;
	padding-right:15px;
*/}

table.title-search-result td.title-search-item a {
	padding-left:4px;
	padding-right:15px;
	text-decoration: none;
	/*color:black;*/
	vertical-align:top;
	display:block;
}

table.title-search-result td.title-search-item img {
	vertical-align:top;
}

table.title-search-result td.title-search-item b {
	color:#cf0000;
	font-weight:normal;
}

table.title-search-result tr.title-search-selected td
,table.title-search-result tr.title-search-selected a
,table.title-search-result tr.title-search-selected td.title-search-more a
{
	/*background-color:#fff2be;*/
}
table.title-search-result tr.title-search-selected td.title-search-more,
table.title-search-result tr.title-search-selected td.title-search-more a {
	background: #fff;
}

table.title-search-result td.title-search-more {
	font-size: 14px;
	line-height: 18px;
	padding: 5px 20px 15px;
}

table.title-search-result td.title-search-more a {
	/*padding-left:12px;
	padding-right:15px;*/
	text-decoration:none;
	/*color:#999999;*/
}

table.title-search-result td.title-search-all {
	/*padding-left:24px;
	padding-right:15px;*/
}

table.title-search-result td.title-search-all a
{
	padding-left:4px;
	text-decoration:none;
	color:#808080;
}

.wrap_form_header_search table.title-search-result td.title-search-separator,
.wrap_form_header_search table.title-search-result th.title-search-separator {
	display: none;
	padding-top:0px;
	padding-bottom:0px;
	font-size:4px;
}

div.title-search-fader {
	display:none !important;
	background-image: url('images/fader.png');
	background-position: right top;
	background-repeat: repeat-y;
	position:absolute;
}
.hide{
	display: none;
}
